{% extends "layout.html" %}

{% block title %}
    Shopping List
{% endblock %}

{% block main %}
	<form action="/shoppinglist" method="post">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ingredient</th>
					<th>Quantity</th>
					<th>Measurement</th>
					<th>Bought</th>
					<th>Most Recent Price</th>
					<th>Current Price</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<button type="submit" name="submit">Finished Shopping</button>
	</form>
	<script>
		let html = '';
		let checklist = {{ checklist|tojson }};
		for (let item of checklist) {
		html += '<tr>' +
				'<td style="display: none;">' + item.id  + '</td>' +
				'<td>'+ item.name +'</td>' +
				'<td>' + '<input type="number" name="quantity" min="0">' + '</td>' +
				'<td>' + '<input type="text" name="measurement">' + '</td>' +
				'<td>' + '<input type="checkbox" name="checkbox">' + '</td>' +
				'<td>' + item.price + '</td>' +
				'<td>' + '<input type="number" min="0.00" name="current_price" step="0.01">' + '</td>' +
			'</tr>'
		};
		document.querySelector('tbody').innerHTML = html;
		document.addEventListener('DOMContentLoaded', function(){
			document.addEventListener('submit', function(){
				let checked = document.querySelectorAll('input[type="checkbox"]')
				let pantry_object_array = [];
				let price_object_array = [];
				let pantry_key_array = ["ingredient_id", "quantity", "quantity_measurement"];
				let price_key_array = ["ingredient_id", "price"]
				for (let item of checked) {
					if (item.checked == true) {
						let pantry_value_array = [];
						let pantry_object = {};
						pantry_value_array = [item.closest('tr').querySelector('td:first-child').innerHTML, item.closest('tr').querySelector('td input[name="quantity"]').value, item.closest('tr').querySelector('td input[name="measurement"]').value];
						for (let i = 0; i < pantry_key_array.length; i++) {
							pantry_object[pantry_key_array[i]] = pantry_value_array[i];
						}
						pantry_object_array.push(pantry_object);
						if (item.closest('tr').querySelector('[name="current_price"]') != null) {
							let price_value_array = [];
							let price_object = {};
							price_value_array = [item.closest('tr').querySelector('td:first-child').innerHTML, item.closest('tr').querySelector('td input[name="current_price"]').value];
							for (let j = 0; j < price_key_array.length; j++) {
								price_object[price_key_array[j]] = price_value_array[j];
							}
							price_object_array.push(price_object);
						}
					}
				}
				fetch('/shoppinglist', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
							body: JSON.stringify({ pantry: pantry_object_array, price: price_object_array})
				})
			})
		});
	</script>


{% endblock %}
